<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.Company" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
	<result column="state_changed" property="stateChanged" jdbcType="TIMESTAMP" />	
	<result column="company_type" property="companyType" jdbcType="INTEGER" />
    <result column="company_state" property="companyState" jdbcType="INTEGER" />
    <collection property="questList" column="company_id" ofType="com.jxxp.pojo.QuestionInfo"
    select="com.jxxp.dao.QuestionInfoMapper.getAllByCompany">
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    company_id, company_name, description, company_code, phone, company_type, company_state, 
    state_changed
  </sql>
   <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select * from company
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  
   <select id="getAllCompany" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from company    
  </select>
  
  <!-- 此方法可删除暂时保留TODO -->
  <select id="findByName" resultMap="BaseResultMap" parameterType="String" >
    select * from company
    where company_name = #{companyName,jdbcType=VARCHAR}
  </select>
  
   <select id="getByName" resultMap="BaseResultMap" parameterType="String" >
    select * from company
    where company_name like concat(concat(#{companyName,jdbcType=VARCHAR},'%'))
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from company
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jxxp.pojo.Company" useGeneratedKeys="true" keyProperty="companyId">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="companyState != null" >
        company_state,
      </if>
      <if test="stateChanged != null" >
        state_changed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="companyState != null" >
        #{companyState,jdbcType=INTEGER},
      </if>
      <if test="stateChanged != null" >
        #{stateChanged,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
</mapper>