<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.Company" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
	<result column="state_changed" property="stateChanged" jdbcType="TIMESTAMP" />	
	<result column="company_type" property="companyType" jdbcType="INTEGER" />
    <result column="company_state" property="companyState" jdbcType="INTEGER" />
    <!-- 增加连个字段，industries表示行业，stockCode表示股票代码 -->
    <result column="industries" property="industries" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
   
    <association column="company_id" property="otherInfo" select="com.jxxp.dao.CompanyOtherMapper.getByCompanyId">
    </association> 
    <!-- 是否属于客户公司，不属于则clientCompany为null -->
    <association column="company_id" property="clientCompany" select="com.jxxp.dao.ClientCompanyMapper.getClientCompanyById">
    </association> 
    <collection property="questList" column="company_id" ofType="com.jxxp.pojo.QuestionInfo"
    select="com.jxxp.dao.QuestionInfoMapper.getAllByCompany">
    </collection>
  </resultMap>
  
   <resultMap id="search" type="com.jxxp.pojo.Company" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    company_id, company_name, description, company_code, phone, company_type, company_state, 
    state_changed,industries,stock_code,create_time
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List"/> from company
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <select id="getPlatformCompany" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from company
    where company_type =0 limit 0,1
  </select>
  
   <select id="getAllCompany" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from company    
  </select>
  
  <select id="findByName" resultMap="BaseResultMap" parameterType="String" >
    select <include refid="Base_Column_List"/> from company
    where company_name = #{companyName,jdbcType=VARCHAR}
  </select>
  
   <select id="getAllByName" resultMap="search" parameterType="String" >
    select company_id, company_name from company where 1=1
    <if test="_parameter!=null and _parameter!=''">
     and company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
    </if>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from company
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jxxp.pojo.Company" useGeneratedKeys="true" keyProperty="companyId">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null and companyName!=''" >
        company_name,
      </if>
      <if test="description != null and description!=''" >
        description,
      </if>
      <if test="companyCode != null and companyCode!=''" >
        company_code,
      </if>
      <if test="phone != null and phone!=''" >
        phone,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="companyState != null" >
        company_state,
      </if>
      <if test="stateChanged != null" >
        state_changed,
      </if>
      <if test="industries != null and industries!=''" >
      industries,
      </if>
      <if test="stockCode != null and stockCode!=''" >
      stock_code,
      </if>
       <if test="createTime != null" >
        create_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null and companyName!=''" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description!=''" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null and companyCode!=''" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone!=''" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="companyState != null" >
        #{companyState,jdbcType=INTEGER},
      </if>
      <if test="stateChanged != null" >
        #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="industries != null and industries!=''" >
        #{industries,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null and stockCode!=''" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
       <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.jxxp.pojo.Company" >
    update company
    <set >
      <if test="companyName != null and companyName!=''" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description!=''" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null and companyCode!=''" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone!=''" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null and companyType!=0" >
        company_type = #{companyType,jdbcType=INTEGER},
      </if>
      <if test="companyState != null and companyState!=0" >
        company_state = #{companyState,jdbcType=INTEGER},
      </if>
      <if test="stateChanged != null" >
        state_changed = #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="industries != null and industries!=''" >
       industries= #{industries,jdbcType=VARCHAR},
      </if>
       <if test="stockCode != null and stockCode!=''" >
      stock_code=#{stockCode,jdbcType=VARCHAR}
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" >
   delete from company where company_id in
   <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">   
        #{item}   
   </foreach> 
  </delete>
  
  <select id="getCompanyPaging" resultMap="BaseResultMap">
  select <include refid="Base_Column_List"/> from company where 1=1
  <if test="companyName!=null and companyName!=''">
     and company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
  </if>
  <if test="page!=null">
    limit #{page.startPos},#{page.pageSize};
  </if>
  </select>
  <!--  批量更新公司-->
   <update id="updateCompanies" parameterType="java.util.List">
   <foreach collection="list" index="index" item="item" open="" separator=";" close="">   
    update company
    <set >
      <if test="item.companyName != null and item.companyName!=''" >
        company_name = #{item.companyName,jdbcType=VARCHAR},
      </if>
      <if test="item.description != null and item.description!=''" >
        description = #{item.description,jdbcType=VARCHAR},
      </if>
      <if test="item.companyCode != null and item.companyCode!=''" >
        company_code = #{item.companyCode,jdbcType=VARCHAR},
      </if>
      <if test="item.phone != null and item.phone!=''" >
        phone = #{item.phone,jdbcType=VARCHAR},
      </if>
      <if test="item.companyType != null" >
        company_type = #{item.companyType,jdbcType=INTEGER},
      </if>
      <if test="item.companyState != null" >
        company_state = #{item.companyState,jdbcType=INTEGER},
      </if>
      <if test="item.stateChanged != null" >
        state_changed = #{item.stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="item.industries != null and item.industries!=''" >
       industries= #{item.industries,jdbcType=VARCHAR},
      </if>
       <if test="item.stockCode != null and item.stockCode!=''" >
      stock_code=#{item.stockCode,jdbcType=VARCHAR}
      </if>
    </set>
    where company_id = #{item.companyId,jdbcType=INTEGER}
    </foreach> 
  </update>
  
</mapper>