<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.CompanyOtherMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.CompanyOther" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
    <result column="logo_height" property="logoHeight" jdbcType="INTEGER" />
    <result column="logo_width" property="logoWidth" jdbcType="INTEGER" /> 
    <result column="service_protocol" property="serviceProtocol" jdbcType="LONGVARCHAR" />
    <result column="sp_html" property="spHtml" jdbcType="LONGVARCHAR" />
    <!-- 后续加的字段 -->
     <result column="logo_width" property="logoWidth" jdbcType="INTEGER" />
    <result column="is_send" property="isSend" jdbcType="INTEGER" />
    <result column="send_type" property="sendType" jdbcType="INTEGER" />
    
    <result column="contacts_1" property="contacts1" jdbcType="VARCHAR" />
    <result column="email_1" property="email1" jdbcType="VARCHAR" />
    <result column="contacts_2" property="contacts2" jdbcType="VARCHAR" />
    <result column="email_2" property="email2" jdbcType="VARCHAR" />
    <result column="contacts_3" property="contacts3" jdbcType="VARCHAR" />
    <result column="email_3" property="email3" jdbcType="VARCHAR" />
  
    </resultMap>
  <sql id="Base_Column_List" >
    company_id, logo_url, logo_path, logo_height, logo_width, service_protocol, sp_html,is_send,send_type, contacts_1, email_1, 
    contacts_2, email_2, contacts_3, email_3
  </sql>
  <select id="getByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select * from companyother where company_id=#{companyId}
  </select>
  <insert id="insert" parameterType="com.jxxp.pojo.CompanyOther" >
    insert into companyother (company_id, logo_url, logo_path, 
      logo_height, logo_width, is_send, send_type,
      contacts_1, email_1, contacts_2, 
      email_2, contacts_3, email_3, 
      service_protocol, sp_html)
    values (#{companyId,jdbcType=BIGINT}, #{logoUrl,jdbcType=VARCHAR}, #{logoPath,jdbcType=VARCHAR}, 
      #{logoHeight,jdbcType=INTEGER}, #{logoWidth,jdbcType=INTEGER}, #{isSend,jdbcType=INTEGER}, #{sendType,jdbcType=INTEGER},
      #{contacts1,jdbcType=VARCHAR}, #{email1,jdbcType=VARCHAR}, #{contacts2,jdbcType=VARCHAR}, 
      #{email2,jdbcType=VARCHAR}, #{contacts3,jdbcType=VARCHAR}, #{email3,jdbcType=VARCHAR}, 
      #{serviceProtocol,jdbcType=LONGVARCHAR}, #{spHtml,jdbcType=LONGVARCHAR})
  </insert>
  <delete id="deleteById">
  delete from companyother where company_id=#{companyId}
  </delete>
  <update id="update" parameterType="com.jxxp.pojo.CompanyOther" >
    update companyother
    <set >
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null" >
        logo_path = #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="logoHeight != null" >
        logo_height = #{logoHeight,jdbcType=INTEGER},
      </if>
      <if test="logoWidth != null" >
        logo_width = #{logoWidth,jdbcType=INTEGER},
      </if>
      <if test="serviceProtocol != null" >
        service_protocol = #{serviceProtocol,jdbcType=LONGVARCHAR},
      </if>
      <if test="spHtml != null" >
        sp_html = #{spHtml,jdbcType=LONGVARCHAR},
      </if>
        is_send = #{isSend,jdbcType=INTEGER},
      <if test="sendType != null and sendType!=''" >
        send_type= #{sendType,jdbcType=INTEGER},
      </if>
      
      <if test="contacts1 != null" >
        contacts_1 = #{contacts1,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        email_1 = #{email1,jdbcType=VARCHAR},
      </if>
      <if test="contacts2 != null" >
        contacts_2 = #{contacts2,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        email_2 = #{email2,jdbcType=VARCHAR},
      </if>
      <if test="contacts3 != null" >
        contacts_3 = #{contacts3,jdbcType=VARCHAR},
      </if>
      <if test="email3 != null" >
        email_3 = #{email3,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  
</mapper>