<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.CompanyBranchMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.CompanyBranch" >
    <id column="branch_id" property="branchId" jdbcType="BIGINT" />   
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    
    <association property="owner" column="company_id" javaType="com.jxxp.pojo.Company"
    select="com.jxxp.dao.CompanyMapper.getById">
    </association>
        
    <association property="province" column="province" javaType="com.jxxp.pojo.AreaInfo"
			select="com.jxxp.dao.AreaInfoMapper.getById">
		</association>
		
		 <association property="city" column="city" javaType="com.jxxp.pojo.AreaInfo"
			select="com.jxxp.dao.AreaInfoMapper.getById">
		</association>
  </resultMap>
  <sql id="Base_Column_List" >
    branch_id, company_id, province, city, branch_name, address, phone, contactor,post_code
  </sql>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from companybranch
    where branch_id = #{branchId,jdbcType=BIGINT}
  </select>
  
   <select id="getAllByArea" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select * from companybranch  where 1=1    
    and company_id = #{companyId,jdbcType=BIGINT}    
    and city = #{areaId,jdbcType=BIGINT}
   
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from companybranch
    where branch_id = #{branchId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.jxxp.pojo.CompanyBranch" >
    insert into companybranch (branch_id, company_id, province, 
      city, branch_name, address, 
      phone, contactor,post_code)
    values (#{branchId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{province,jdbcType=BIGINT}, 
      #{city,jdbcType=BIGINT}, #{branchName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{contactor,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.jxxp.pojo.CompanyBranch" >
    update companybranch
    set company_id = #{companyId,jdbcType=BIGINT},
      province = #{province,jdbcType=BIGINT},
      city = #{city,jdbcType=BIGINT},
      branch_name = #{branchName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      contactor = #{contactor,jdbcType=VARCHAR}
      post_code = #{postCode,jdbcType=VARCHAR}
    where branch_id = #{branchId,jdbcType=BIGINT}
  </update>
</mapper>