<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.DictionaryBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.DictionaryBean" >
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="INTEGER" />
    <result column="dict_desc" property="dictDesc" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getDictionary" parameterType="java.util.Map" resultType="com.jxxp.pojo.DictionaryBean">
		SELECT * FROM DICTIONARYBEAN
		WHERE DICT_TYPE=#{dictType} AND DICT_NAME=#{dictName}
  </select>
  
  <select id="findByName" parameterType="java.util.Map" resultType="com.jxxp.pojo.DictionaryBean">
		SELECT * FROM DICTIONARYBEAN
		WHERE  DICT_NAME=#{dictName}
  </select>
   <select id="findByType" parameterType="String" resultType="com.jxxp.pojo.DictionaryBean">
		SELECT * FROM DICTIONARYBEAN
		WHERE DICT_TYPE=#{dictType}
  </select> 
</mapper>