<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.ReportCaseMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.ReportCase" >
    <id column="rc_id" property="rcId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="case_state" property="caseState" jdbcType="INTEGER" />
    <result column="state_changed" property="stateChanged" jdbcType="TIMESTAMP" />
    <result column="access_code" property="accessCode" jdbcType="VARCHAR" />
    <result column="tracking_no" property="trackingNo" jdbcType="VARCHAR" />
    <result column="rt_list" property="rtList" jdbcType="VARCHAR" />
    <!-- 后续加的字段begin -->
    <result column="contact_way" property="contactWay" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="case_company_name" property="caseCompanyName" jdbcType="VARCHAR" />
    <!--后续加的字段end -->
    
    <association column="company_id" property="company" select="com.jxxp.dao.CompanyMapper.getById">
    </association>
    <association column="branch_id" property="branch" select="com.jxxp.dao.CompanyBranchMapper.getById">
    </association>
    <association column="report_id" property="reporter" select="com.jxxp.dao.ReporterMapper.getById">
    </association>
    <association column="handler_company" property="currentHandler"  select="com.jxxp.dao.CompanyMapper.getById">
    </association> 
    <collection property="attachList" jdbcType="BIGINT" column="tracking_no" javaType="ArrayList" ofType="com.jxxp.pojo.CaseAttach" 
     select="com.jxxp.dao.CaseAttachMapper.getAllByTrackingNo">
	</collection>
	<collection property="commentList" column="rc_id" ofType="com.jxxp.pojo.CaseComment"
    	select="com.jxxp.dao.CaseCommentMapper.getAllByReportCaseId">
	</collection>
	
	<collection property="answers" column="rc_id"  ofType="com.jxxp.pojo.ReportAnswer"
    	select="com.jxxp.dao.ReportAnswerMapper.getAnswerByCaseId">
	</collection>
	
	<collection property="changeList" column="rc_id"  ofType="com.jxxp.pojo.CaseChangeLog"
    	select="com.jxxp.dao.CaseChangeLogMapper.getAllByCaseId">
	</collection>
	
  </resultMap>
   <sql id="Base_Column_List" >
    rc_id, create_time, company_id, branch_id, report_id, handler_company, rt_list, case_state, 
    state_changed, access_code, tracking_no, contact_way, province, city, case_company_name
  </sql> 
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from reportcase
    where rc_id = #{rcId,jdbcType=BIGINT}
  </delete>
   <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reportcase
    where rc_id = #{rcId,jdbcType=BIGINT}
  </select>
  <select id="getAllByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select * from reportcase where company_id=#{companyId,jdbcType=BIGINT}
  </select>
  
  <select id="searchByKeysWithPage" resultMap="BaseResultMap">
   select * from reportcase rc  where 1=1
   <!-- 后续改bug屏蔽已经删除的公司的所属案件 增加条件company_id in (select company_id from company) -->
   and rc.company_id in (select c.company_id from company c where c.company_id=rc.company_id) 
   <if test="companyId!=1 and companyId!=0">
   and rc.company_id=#{companyId,jdbcType=BIGINT} 
   </if>
   <if test="startTime!=null and startTime!=''">
   and rc.create_time &gt;=#{startTime} 
   </if> 
   <!-- 末尾日期范围 （取年月日）-->
  <if test="endTime!=null and endTime!=''">
   <![CDATA[  and DATE_FORMAT(rc.create_time,'%Y-%m-%d')<=DATE_FORMAT(#{endTime} ,'%Y-%m-%d')  ]]>
  </if> 
   
    <if test="rtList!=null and rtList!=''">
   and rc.rt_list like concat(concat('%',#{rtList,jdbcType=VARCHAR},'%'))  
    </if>
    <if test="caseState!=null">
   and rc.case_state= #{caseState,jdbcType=INTEGER}
    </if>  
     <!-- 案件跟踪号模糊查询 --> 
    <if test="trackingNo!=null and trackingNo!=''">
     and rc.tracking_no like concat(concat('%',#{trackingNo,jdbcType=VARCHAR},'%'))
    </if> 
   and rc.rc_id in
    (select d.rc_id from reportanswer b,reportcase d 
     where b.rc_id = d.rc_id 
     <if test="companyId!=1 and companyId!=0">
     and d.company_id = #{companyId,jdbcType=BIGINT}
     </if>
     <if test="keyWord!=null and keyWord!=''">
     and b.quest_value like concat(concat('%',#{keyWord,jdbcType=VARCHAR},'%')) 
    </if>
     )
    order by create_time desc,case_state asc
   <if test="page!=null">
    limit #{page.startPos},#{page.pageSize};
  </if>
  </select>
  
  <select id="getCaseByReporter" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reportcase
    where report_id = #{reporterId,jdbcType=BIGINT}
  </select>
  
  <select id="getAllCase" resultMap="BaseResultMap">
  select * from reportcase
  </select>
  
   <select id="findByNo" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from reportcase
    where tracking_no = #{trackingNo,jdbcType=VARCHAR} and access_code=#{accessCode,jdbcType=VARCHAR}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="rcId" parameterType="com.jxxp.pojo.ReportCase" >
    insert into reportcase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        rc_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="company!= null" >
        company_id,
      </if>
      <if test="branch!= null" >
        branch_id,
      </if>
      <if test="reporter != null" >
        report_id,
      </if>
      <if test="currentHandler != null" >
        handler_company,
      </if>
       <if test="rtList != null" >
       rt_list,
      </if>
      <if test="caseState != null" >
        case_state,
      </if>
      <if test="stateChanged != null" >
        state_changed,
      </if>
      <if test="accessCode != null" >
        access_code,
      </if>
      <if test="trackingNo != null" >
        tracking_no,
      </if>
      <if test="contactWay != null" >
      contact_way, 
      </if>
      <if test="province != null" >
      province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="caseCompanyName != null" >
        case_company_name
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        #{rcId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="company!= null" >
         #{company.companyId,jdbcType=BIGINT},
      </if>
      <if test="branch!= null" >      
        #{branch.branchId,jdbcType=BIGINT},
      </if>
       <if test="reporter!= null" >
        #{reporter.reporterId,jdbcType=BIGINT},
      </if>
       <if test="currentHandler != null" >
        #{currentHandler.companyId,jdbcType=BIGINT},
      </if>
       <if test="rtList != null" >
       #{rtList,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null" >
        #{caseState,jdbcType=INTEGER},
      </if>
      <if test="stateChanged != null" >
        #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="accessCode != null" >
        #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null" >
        #{trackingNo,jdbcType=VARCHAR},
      </if>
       <if test="contactWay != null" >
      #{contactWay,jdbcType=VARCHAR} ,
      </if>
      <if test="province != null" >
      #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
       #{city,jdbcType=VARCHAR},
      </if>
      <if test="caseCompanyName != null" >
       #{caseCompanyName,jdbcType=VARCHAR}
      </if>
    </trim>
    
  </insert>
  <update id="update" parameterType="com.jxxp.pojo.ReportCase" >
    update reportcase
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="company != null" >
        company_id =#{company.companyId,jdbcType=BIGINT},
      </if>
      <if test="branch != null" >
         branch_id= #{branch.branchId,jdbcType=BIGINT},
      </if>
      <if test="reporter != null" >
        report_id =#{reporter.reporterId,jdbcType=BIGINT},
      </if>
      <if test="currentHandler != null" >
        handler_company = #{currentHandler.companyId,jdbcType=BIGINT},
      </if>
      <if test="rtList != null" >
        rt_list = #{rtList,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null" >
        case_state = #{caseState,jdbcType=INTEGER},
      </if>
      <if test="stateChanged != null" >
        state_changed = #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="accessCode != null" >
        access_code = #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null" >
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
       <if test="contactWay != null" >
      contact_way= #{contactWay,jdbcType=VARCHAR} ,
      </if>
      <if test="province != null" >
      province=#{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
       city=#{city,jdbcType=VARCHAR},
      </if>
      <if test="caseCompanyName != null" >
       case_company_name=#{caseCompanyName,jdbcType=VARCHAR}
      </if>
    </set>
    
    where rc_id = #{rcId,jdbcType=BIGINT}
  </update>
  
  <!--客户公司和非客户公司的案件  -->
  <select id="getCaseByIsClient" resultMap="BaseResultMap" parameterType="int">
   select <include refid="Base_Column_List"/> from reportcase  rc
   where 1=1
   <if test="isClient==1">
   and   
   rc.company_id in (select company_id from client_company)
   </if>
   <if test="isClient==0">
   and   
   rc.company_id not in (select company_id from client_company)
   </if>
    <!-- 后续改bug屏蔽已经删除的公司的所属案件 增加条件company_id in (select company_id from company) -->
   and rc.company_id in (select company_id from company c where c.company_id=rc.company_id) 
   order by create_time desc ,case_state asc
  </select>
</mapper>