<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.ReporterMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.Reporter" >
    <id column="reporter_id" property="reporterId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_no" property="idNo" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    reporter_id, mobile, name, id_no, email
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reporter
    where reporter_id = #{reporterId,jdbcType=BIGINT}
  </select>
  <select id="getByMobile" parameterType="String">
  select * from reporter where mobile=#{mobile,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from reporter
    where reporter_id = #{reporterId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="reporterId" parameterType="com.jxxp.pojo.Reporter" >
    insert into reporter (reporter_id, mobile, name, 
      id_no, email)
    values (#{reporterId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.jxxp.pojo.Reporter" >
    update reporter
    set mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where reporter_id = #{reporterId,jdbcType=BIGINT}
  </update>
</mapper>