<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.ReportCaseMapper" >
  <resultMap id="BaseResultMap" type="com.jxxp.pojo.ReportCase" >
    <id column="rc_id" property="rcId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />    
    <result column="case_state" property="caseState" jdbcType="VARCHAR" />
    <result column="state_changed" property="stateChanged" jdbcType="TIMESTAMP" />
    <result column="access_code" property="accessCode" jdbcType="VARCHAR" />
    <result column="tracking_no" property="trackingNo" jdbcType="VARCHAR" />
    <result column="rt_list" property="rtList" jdbcType="VARCHAR" />
    <association column="company_id" property="company" select="com.jxxp.dao.CompanyMapper.getById">
    </association>
    <association column="branch_id" property="branch" select="com.jxxp.dao.CompanyBranchMapper.getById">
    </association>
    <association column="reporter_id" property="reporter" select="com.jxxp.dao.ReporterMapper.getById">
    </association>
    <association column="handler_company" property="currentHandler"  select="com.jxxp.dao.CompanyMapper.getById">
    </association>    
  <!--   <collection property="attachList" column="tracking_no" ofType="com.jxxp.pojo.CaseAttach"
    	select="com.jxxp.dao.CaseAttachMapper.getAllByTrackingNo">
	</collection>  -->
	
	<collection property="commentList" column="rc_id" ofType="com.jxxp.pojo.CaseComment"
    	select="com.jxxp.dao.CaseCommentMapper.getAllByReportCaseId">
	</collection>
	
  </resultMap>
   <sql id="Base_Column_List" >
    rc_id, create_time, company_id, branch_id, report_id, handler_company, rt_list, case_state, 
    state_changed, access_code, tracking_no
  </sql> 
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from reportcase
    where rc_id = #{rcId,jdbcType=BIGINT}
  </delete>
   <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reportcase
    where rc_id = #{rcId,jdbcType=BIGINT}
  </select>
  
  <select id="getByTrackingNo" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from reportcase
    where tracking_no = #{trackingNo,jdbcType=VARCHAR}
  </select>
   
   <select id="findByNo" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from reportcase
    where tracking_no = #{trackingNo,jdbcType=VARCHAR} and access_code=#{accessCode,jdbcType=VARCHAR}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="rcId" parameterType="com.jxxp.pojo.ReportCase" >
    insert into reportcase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        rc_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="company.companyId != null" >
        company_id,
      </if>
      <if test="branch!= null" >
        branch_id,
      </if>
      <if test="reporter != null" >
        report_id,
      </if>
      <if test="currentHandler != null" >
        handler_company,
      </if>
       <if test="rtList != null" >
       rt_list,
      </if>
      <if test="caseState != null" >
        case_state,
      </if>
      <if test="stateChanged != null" >
        state_changed,
      </if>
      <if test="accessCode != null" >
        access_code,
      </if>
      <if test="trackingNo != null" >
        tracking_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcId != null" >
        #{rcId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="company.companyId != null" >
         #{company.companyId,jdbcType=BIGINT},
      </if>
      <if test="branch.branchId != null" >      
        #{branch.branchId,jdbcType=BIGINT},
      </if>
       <if test="reporter.reporterId != null" >
        #{reporter.reporterId,jdbcType=BIGINT},
      </if>
       <if test="currentHandler != null" >
        #{currentHandler.companyId,jdbcType=BIGINT},
      </if>
       <if test="rtList != null" >
       #{rtList,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null" >
        #{caseState,jdbcType=VARCHAR},
      </if>
      <if test="stateChanged != null" >
        #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="accessCode != null" >
        #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null" >
        #{trackingNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
</mapper>