<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxxp.dao.UserMapper" >  
   <resultMap id="BaseResultMap" type="com.jxxp.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="work_no" property="workNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_state" property="userState" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />    
    <result column="state_changed" property="stateChanged" jdbcType="TIMESTAMP" />
  <!-- 后续加的begin-->
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
    <!-- 后续加的end -->
     <association property="userCompany" column="company_id" javaType="com.jxxp.pojo.Company"
    select="com.jxxp.dao.CompanyMapper.getById">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_type, login_name, user_pwd, user_name, company_id, mobile, work_no, 
    remark, state_changed, user_state,email, phone, address, weixin, department, position, 
    expiry_date
  </sql>
  <select id="login" resultMap="BaseResultMap">
  select * from userinfo where login_name=#{loginName,jdbcType=VARCHAR} and user_pwd=#{userPwd,jdbcType=VARCHAR}
  </select>
  
  <select id="getUserByLoginName" resultMap="BaseResultMap">
  select * from userinfo where login_name=#{loginName,jdbcType=VARCHAR}
  </select>
  
  <select id="getUsersByParams" resultMap="BaseResultMap">
  select u.* from userinfo u
  <if test="companyName!=null and companyName!=''">
  join (select company_id from company where company_name like concat(concat('%',#{companyName},'%'))) as c 
  on c.company_id=u.company_id 
  </if>
  where 1=1
  <if test="companyId!=null and companyId!=0">
  and company_id=#{companyId}
  </if>
  <if test="userType!=null">
  and user_type=#{userType}
  </if>
  <if test="userState!=null">
  and user_state=#{userState}
  </if>
  <if test="keyWord!=null and keyWord!=''">
  and (
  user_name like concat(concat('%',#{keyWord},'%'))
  or mobile like concat(concat('%',#{keyWord},'%')) 
  )
  </if>
  <if test="user!=null">
    and user_type &lt;=#{user.userType}
  </if>
  <if test="userState!=null">
  and user_state=#{userState} 
  </if>
   <if test="page!=null">
  limit #{page.startPos},#{page.pageSize}
  </if>
  </select>
  <select id="getAllUers" resultMap="BaseResultMap">
   select * from userinfo
  </select>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxxp.pojo.User" useGeneratedKeys="true" keyProperty="userId" >
    insert into userinfo (user_type, login_name, 
      user_pwd, user_name, company_id, 
      mobile, work_no, remark, 
      state_changed, user_state,
      email, phone, address, weixin, department, position, expiry_date)
      values (#{userType,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userCompany.companyId,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{stateChanged,jdbcType=TIMESTAMP}, #{userState,jdbcType=VARCHAR},
      #{email},  #{phone},  #{address}, #{weixin},  #{department}, #{position},  #{expiryDate})
  </insert>
  
  <update id="stopAllUsersByCompanyId" parameterType="java.lang.Long">
	  update userinfo 
	  <set>
	  user_state=4,
	  </set> 
	  where company_id=#{companyId,jdbcType=BIGINT}
  </update>
  
  <update id="update" parameterType="com.jxxp.pojo.User" >
    update userinfo
    <set >
      <if test="userType != null and userType!=''" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null and loginName!=''" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null and userPwd!=''" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName!=''" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        company_id =#{userCompany.companyId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null and mobile!=''" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null and workNo!=''" >
        work_no = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark!=''" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stateChanged != null" >
        state_changed = #{stateChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="userState != null and userState!=''" >
        user_state = #{userState,jdbcType=VARCHAR},
      </if>
       <if test="email != null and email!=''" >
         email=#{email,jdbcType=VARCHAR}, 
       </if>
       <if test="phone != null and phone!=''" >
         phone= #{phone,jdbcType=VARCHAR},  
       </if>
       <if test="address != null and address!=''" > 
         address= #{address,jdbcType=VARCHAR},
       </if>
        <if test="weixin != null and weixin!=''" >        
          weixin= #{weixin,jdbcType=VARCHAR},
        </if>  
         <if test="department != null and department!=''" >        
       department= #{department,jdbcType=VARCHAR},
        </if>
       <if test="position != null and position!=''" >        
        position= #{position,jdbcType=VARCHAR}, 
       </if>
       <if test="expiryDate != null" >
        expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
</mapper>